* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #212529;
}

body {
  background-color: orange;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex !important;
  margin: auto !important;
  align-items: center !important;
  justify-content: center !important;
}

.logo a {
  display: flex !important;
  margin: auto !important;
  align-items: center !important;
  justify-content: center !important;
}

.titulo {
  font-family: "Caveat";
  font-style: oblique !important;
  font-size: 70px;
}

.hamb {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.hamburguer {
  display: flex !important;
  justify-content: space-between !important;
}

.navbar i {
  font-size: 30px;
  color: white;
  padding: 2px;
  padding-right: 8px;
  position: absolute;
  top: 12px;
  max-height: 1px !important;
}

.navbar-brand img {
  height: 120px;
  background-color: #212529;
  border-radius: 0 0 5% 5%;
}

.nav-link {
  color: white !important;
}

.carru {
  background-color: rgba(90, 90, 90, 0.4431372549) !important;
  width: 100vw !important;
  display: flex !important;
  margin: auto !important;
}

.carousel {
  padding-top: 50px;
  margin-bottom: 5%;
}

.carousel img {
  height: 30rem;
  width: 90vw !important;
  display: flex !important;
  margin: auto !important;
  align-items: center !important;
  justify-content: center !important;
}

main {
  text-align: center;
}

main img {
  border-radius: 1%;
}

main a {
  text-decoration: none;
}

.services {
  max-width: 90vw;
  margin-top: 10px;
}

.products {
  background-color: rgba(255, 255, 255, 0.2);
  height: 90%;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}

.h3 {
  display: grid;
}

.modulo h3 a {
  margin: 5px;
}

.modulo {
  padding: 10px;
  justify-items: center;
  transition: 1s;
  border-radius: 10%;
}

.specs {
  display: flex !important;
  margin: auto !important;
  align-items: center !important;
  justify-content: center !important;
  text-transform: uppercase;
  padding-left: 40px;
  justify-content: space-around !important;
}

.h3 span {
  background: rgba(251, 251, 251, 0.119);
  border: #333;
  box-shadow: 2px 2px 5px #333;
  border-radius: 5px;
}

.modulo:hover {
  scale: 1.05;
}

.modulo button {
  background: radial-gradient(circle, rgb(251, 233, 63) 0%, rgb(252, 161, 70) 100%);
  border: none;
  border-radius: 30%;
  font-size: 40px;
  width: 45px;
  height: 45px;
  box-shadow: 1px 1px 5px rgb(88, 88, 88);
  margin-top: 5px;
}

.modulo button i {
  display: flex;
  margin: auto;
  justify-content: center;
}

.cont {
  text-align: center;
}

.contacto h1 {
  font-family: "Caveat";
  text-transform: uppercase;
  font-style: oblique;
}

.mapa {
  width: 90vw;
  height: 90vw;
  border-radius: 5px;
  display: flex !important;
  margin: auto !important;
  align-items: center !important;
  justify-content: center !important;
  padding-bottom: 10px;
}

.contac {
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.contacto h1 {
  font-size: 60px;
  padding: 15px;
}

.contacto h2 {
  background-color: rgba(108, 106, 106, 0.3098039216);
  box-shadow: 2px 2px 5px #333;
  display: inline-block !important;
  border-radius: 5px;
  padding: 10px;
}

.contacto h3 {
  -webkit-text-decoration: underline black;
          text-decoration: underline black;
}

.datos {
  display: inline-block !important;
  align-self: center;
  justify-self: center;
}

/*nosotros*/
.imgtrabajos {
  padding: 2px;
}

.imgtrabajos img {
  width: 95vw;
}

.img1 {
  animation-delay: 0.5s;
}

.img2 {
  animation-delay: 1.5s;
}

.img3 {
  animation-delay: 2.5s;
}

footer {
  padding: 15px;
  text-align: center;
  background-color: #212529;
  color: azure;
}

footer p {
  font-size: 20px;
}

footer a {
  color: orange;
}

footer a :hover {
  color: white;
}

footer i {
  font-size: 35px;
  letter-spacing: 15px;
}

footer .redes {
  margin-top: 20px;
}

.what {
  height: 60px;
  width: 60px;
  background-color: springgreen;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  border: 2px solid #fff;
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #333;
}

@media (min-width: 578px) {
  .navbar i {
    top: 12px;
    margin-right: 3px;
  }
}
@media (min-width: 750px) {
  .mapa {
    width: 45vw;
    height: 45vw;
  }
}/*# sourceMappingURL=estilos.css.map */